@model IEnumerable<chat_app_server.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/js/search.js"></script>
}